@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html, body {
    font-family: 'Titillium Web', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

#cover {
    background-image: url("imgs/bg01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
}

.cover-container {
    width: 100%;
    /* padding: 0px 30px; */
    /* max-width: 700px; */
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.81) 100%);
    
}

.titulo {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 30px;
}


.intro-container {
    display: flex;
    width: 100%;
    /* max-width: 940px; */
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.div-img-banner-01 {
    padding: 60px 0 0 60px;
    box-sizing: border-box;
    height: 40%;
    width: 100%;
}

.img-banner-01 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.div-content-01 {
    height: 60%;
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
    padding: 40px 60px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto; */

}

.content-text-01 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subtitle {
    font-size: 24px;
    color: #812929;
    font-weight: bold;
    margin: 20px 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #312020;
}

.quote {
    display: flex;
    font-family: 'Courgette', cursive;
    justify-content: flex-start;
    padding: 20px 0;
}

.barra {
    border-radius: 2px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #812929
}

.quote p {
    font-size: 17px;
    color: #812929;
}

.content-elements-01 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}